<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/cotton/64/000000/donate--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
            height: 100%;
            background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("../images/pic1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
        }

        

        h2 {
            font-size: 42px;
            color: #FFFFFF;
            text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(0, 17, 255), 0 -10px 20px #0051ff, 0 -18px 40px rgb(0, 119, 255);
            color: #FFFFFF;
        }
    </style>
    <title>Food For Everyone</title>
</head>

<body>


    <nav class="Navbar">
        <div class="nav-logo">
        </div>
        <div class="Nav-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://internship.thesparksfoundation.info/" target="_blank">About</a></li>
                <li><a href="https://www.linkedin.com/in/jasveen-singh-kohli-478456197/" target="_blank">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class='donation'>
        <div class='form' style="opacity: 1;">
            <h1>
                Building a better community today by fighting against hunger
            </h1>
            <div class='description' style="opacity: 1;">
                <h3 >
                " GIVING IS NOT JUST ABOUT MAKING A DONATION ,
                <br>
                IT IS ABOUT MAKING A DIFFERENCE ! "
                </h3>
            </div>
            <div class='mid-donation'>
                    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_IL7i51qSJWwui0" async> </script> </form>
            </div>
        </div>
    </div>

    


</body>

</html>
